{% extends 'app/base.html' %}

{% block content %}
<br>
<br>
<br>
<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <a class="btn btn-outline-dark mb-3" href="{% url 'danh_sach_khach_hang' %}">&#x2190;Trở về</a>
                <div class="card">
                    <div class="card-header">Thêm khách hàng</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Tên khách hàng</label>
                                <div class="col-md-6">
                                    {{ form.ten }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Địa chỉ</label>
                                <div class="col-md-6">
                                    {{ form.dia_chi }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Số điện thoại</label>
                                <div class="col-md-6">
                                    {{ form.dien_thoai }}
                                </div>
                            </div>
                                <button type="submit" name="save-invoice" value="true" class="btn btn-success">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}